:root {
  --color-bg: #0a0a0a;
  --color-orange: #ff6a00;
  --color-red: #cc0000;
  --color-white: #ffffff;
  --color-gray: #888888;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-bg);
  color: var(--color-white);
  font-family: 'M PLUS Rounded 1c', sans-serif;
}